<div class="card border-0 shadow-none text-center main-background-color">
    <GifCoveredIcon Icon="@Excerpt.Icon" />
    <div class="card-body">
        <h3 class="card-title highlighted-main-color mb-4">@Excerpt.Title</h3>
        @if(Excerpt.Description != null)
        {
            @foreach (var line in Excerpt.Description.Lines)
            {
                <Markdown Content="@line" HorizontalTextAlignment="@Excerpt.Description.HorizontalTextAlignment" />
            }
		}
    </div>
    @if (Excerpt.Links != null)
    {
        <div class="text-center">
            @foreach (var link in Excerpt.Links)
            {
                <LinkButton Link="@link" />
            }
        </div>
    }
</div>

@code {
    [Parameter]
	public ContentExcerptInfoModel Excerpt { get; set; }
}
