<a href="@PageRef" style="text-decoration:none">
    <div class="card text-center ml-4 mr-4 glow over-background-color">
        <img class="card-img-top mx-auto mb-0" src="@ImagePath" alt="@Title Card Image" style="max-width:40%"/>
        
        <p class="white-text text-right" style="position: absolute; top:10px; right:5px">
            <span><i class="far fa-calendar-alt main-color"></i></span> @(PublishDateFormated)
        </p>
        
        <div class="card-body" style="position: relative">
            <h4 class="main-color">@Title</h4>
            <p class="white-text mb-4">@(Description)</p>
            <div>
                @foreach (var tag in Tags)
                {
                    <span class="badge badge-secondary mb-1 secondary-background-color secondary-color" style="font-size: 1em">@tag</span>
                    <span>  </span>
                }
            </div>
        </div>
    </div>
</a>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string ImagePath { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public string PageRef { get; set; }

    [Parameter]
    public DateTime PublishDate { get; set; }

    [Parameter]
    public List<string> Tags { get; set; }

    private string PublishDateFormated
    {
        get
        {
            return $"{PublishDate.Day}/{PublishDate.Month}/{PublishDate.Year}";
        }
    }
}
