@page "/work/{articleId:guid}"
@inject IArticleStore _articleStore;

<LoadablePage Page="page" />

@* @if (page == null)
{
    <Loader></Loader>
}
else
{
    <div class="hide-horizontal-scroll">
        <h2 class="text-center white-text mb-5 vp-anim-3">@(page.Introduction.Title)</h2>

        <div class="main-color text-center padded-text vp-anim-5">
            @foreach (var line in page.Introduction.Description.Lines)
            {
                <TextContent Content="@line" HorizontalTextAlignment="@(page.Introduction.Description.HorizontalTextAlignment)" />
            }
        </div>

        <div class="empty-block"></div>

        @foreach (var section in page.Sections)
        {
            <div class="row px-4 vp-anim-2">
                <div class="col-md-6 mb-5 @(section.ShouldShowMainContentFirst ? "order-md-last" : string.Empty)">
                    <div class="media-Container">
                        <img class="media-responsive" src="@(section.ExtraContent.Image.Url)" alt="@(section.ExtraContent.Image.AltText)" />

                        @if (section.ExtraContent.Image.HasGifOverlay())
                        {
                            <img class="media-overlay-text"
                                 style="width: 30%"
                                 src="@(section.ExtraContent.Image.OverlayGifUrl)"
                                 alt="Gif Overlay." />
                        }
                    </div>
                </div>
                <div class="col-md-6 mb-5 main-color text-md-left">
                    <h2 class="mb-5">
                        <span class="stand-out-text">@(section.MainContent.Excerpt.Title)</span>
                    </h2>
                    <p class="mb-5">
                        @foreach (var line in section.MainContent.Excerpt.Description.Lines)
                        {
                            <TextContent Content="@(line)" HorizontalTextAlignment="@(section.MainContent.Excerpt.Description.HorizontalTextAlignment)" />
                        }
                    </p>
                    <div class="text-center">
                        @foreach (var link in section.MainContent.Excerpt.Links)
                        {
                            <a class="btn main-button mr-4 @(!link.IsEnabled ? "disabled" : string.Empty)"
                               href="@link.Url"
                               target="_blank"
                               rel="noopener noreferrer">
                                <i class="fab @link.IconRef secondary-color"></i> @(link.Label)
                            </a>
                        }
                    </div>
                </div>
            </div>

            <div class="empty-block"></div>
        }

    </div>
} *@

@code {
    [Parameter]
    public Guid articleId { get; set; }

    private PageInfoModel page;

	// TODO: improve performance: cache articles after first load
    protected async override Task OnInitializedAsync()
    {
        var articleInfo = await this._articleStore.GetArticleByIdAsync(articleId);
		this.page = articleInfo.Page;
    }
}